<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>
	
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="author" content="metan">
	<meta name="Copyright" content="Copyright  All Rights Reserved.">

	<!--[if IE 8]>
		<link href="_/css/ie8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link rel="stylesheet" href="css/main.css">
	<script src="js/lib/modernizr-1.7.min.js"></script>
	

</head> 

<body>

	<!-- HEAD SECTION -->
	<header>
			
	</header>