
table {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 3px; }
  table thead,
  table tbody,
  table tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe; }
  table caption { 
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem; }
  table thead,
  table tfoot {
    background: #f8f8f8;
    color: #0a0a0a; }
    table thead tr,
    table tfoot tr {
      background: transparent; }
    table thead th,
    table thead td,
    table tfoot th,
    table tfoot td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-weight: bold;
      text-align: center; 
    border-left: 1px solid darken(#f1f1f1, 5%);}
  table tbody tr:nth-child(even) {
    background-color: #f1f1f1; }
  table tbody th,
  table tbody td {
    padding: 0.5rem 0.625rem 0.625rem; }

@media screen and (max-width: 63.9375em) {
  table.stack thead {
    display: none; }
  table.stack tfoot {
    display: none; }
  table.stack tr,
  table.stack th,
  table.stack td {
    display: block; }
  table.stack td {
    border-top: 0; } }

table.scroll {
  display: block;
  width: 100%;
  overflow-x: auto; }

table.hover tr:hover {
  background-color: #f9f9f9; }

table.hover tr:nth-of-type(even):hover {
  background-color: #ececec; }
 table td {
  text-align: center;
  border-left: 1px solid darken(#f1f1f1, 5%);
 }
 table thead th:first-child,
 table td:first-child {
  text-align: left;
  padding-left: 15px;
 }

 table {
  display: none;
 }
 table.show {
  display: table;
 }

 .loading {
  text-align: center;
 }

 .show + .loading {
  display: none;
 }